.vs/
OBCI2mx.pyproj
OBCI2mx.sln
.idea/
docs/_build/
docs/apidoc/
*~
*.bak
*.pyc
*#*
*.#*
*tmsi_driver_server
*signal_receiver
*dummy_tmsi_driver_server
*.o
*.cmd
*.mod.c
*.ko
modules.order
Module.symvers
tmsi.mod.c
.tmp_versions
cpp_amplifiers/build/
cpp_amplifiers/test*
cpp_amplifiers/base/*dummy_amplifier
cpp_amplifiers/dummy_amplifier
cpp_amplifiers/file/*file_amplifier
cpp_amplifiers/file_amplifier
cpp_amplifiers/tmsi/*tmsi_amplifier
cpp_amplifiers/tmsi_amplifier
cpp_amplifiers/tmsi/driver/synfi_init
cpp_amplifiers/gtec/*gtec_amplifier
cpp_amplifiers/gtec_amplifier
cpp_amplifiers/gtec/simple_gtec_driver
cpp_amplifiers/simple_gtec_driver
cpp_amplifiers/gtec/lib/
cpp_amplifiers/gtec/boost*
cpp_amplifiers/bin
*test_logger
*test_dummy_driver
*test_server
*test_tmsi_driver
*dummy_receiver
obci.egg-info
build
dist
deb_dist
.eggs
.cache
.coverage
